{% macro pp_rule(rule) %}
{# }<pre>#}
{# } 	{% for p in rule.premises %}{{ p }} #}
{# } 	{% endfor %}------------------ {{ rule.name }} #}
{# } 	{{ rule.conclusion }} #}
{# </pre>#}
{% include "rules/" ~ rule.name ~ ".standalone.html" %}
{%- endmacro %}

{% macro show_example(url, code, ranges, storage, parameter) %}
<div class="example">
    <div class="try-it">
        <a target="_blank" href="{{url}}/?storage={{storage|urlencode}}&parameter={{parameter|urlencode}}&source={{code|urlencode}}">try it!</a>
    </div>
    {{code|keep_lines(ranges)|pp_michelson}}
</div>
{%- endmacro %}

{% macro linkable_header(level, title, name, typeName) %}
<h{{level}} class="has-headerlink"><a name="{{name}}"></a>{{title}} <a class="headerlink" href="#{{name}}" title="Permalink to this {{typeName}}">¶</a></h{{level}}>
{%- endmacro %}

{% macro linkable_item(title, name, typeName) %}
<a name="{{name}}"></a>{{title}} <a class="headerlink" href="#{{name}}" title="Permalink to this {{typeName}}">¶</a>
{%- endmacro %}

{% macro bool_to_check_cell(b) %}
{% if b == True %}
<td class="check"><span>✔</span></td>
{% elif b == False %}
<td class="cross"><span>✘</span></td>
{% else  %}
<td class="maybe"><span>{% for ty_var in b %} <code>{{ty_var}}</code> {% endfor %} </span></td>
{% endif %}
{%- endmacro %}

{% macro link_first_word(url, string) %}<a href="{{url}}">{{string.split(" ")[0]}}</a> {{" ".join(string.split(" ")[1:])}}{%- endmacro %}

{% macro url_instr(op) %}instr-{{op}}{%- endmacro %}
{% macro url_type(ty) %}type-{{ty}}{%- endmacro %}
{% macro url_example(ex) %}example-{{ex.slug}}{%- endmacro %}

{% macro link_instr(op) %}<a href="#{{url_instr(op.op)}}">{{op.op_args}}</a>{%- endmacro %}
{% macro link_type(ty) %}<a href="#{{url_type(ty.ty)}}">{{ty.ty_args}}</a>{%- endmacro %}

{% macro quick_ref_tbl(instructions) %}
<table>
	<thead>
		<tr>
			<th>Instruction</th>
			<th>Description</th>
            <th>Type</th>
		</tr>
	</thead>
	<tbody>
        {% for instr in instructions %}
        <tr>
            <td><code>{{ link_first_word("#" ~ url_instr(instr.op), instr.op_args) }}</code></td>
            <td>{{instr.documentation_short|rst_inline}}</td>
			{% if instr.stack_effect %}
            <td colspan=3>
                {% for se in instr.stack_effect %}
                <code>{{ se[0] }}</code> &mdash; <code>{{ se[1] }}</code><br/>
                {% endfor %}
            </td>
			{% else %}
            <td></td>
			{% endif %}
        </tr>
        {% endfor %}
	</tbody>
</table>
{%- endmacro %}

{% macro quick_ref_tbl_ty(types, attrs) %}
<table class="types-table">
	<thead>
		<tr>
            <th>Type</th>
			<th>Description</th>
            <th>Examples</th>
            {% for a in attrs %}
            <th><abbr title="{{a[1]}}: {{a[3]}}">{{a[2]}}</abbr></th>
            {% endfor %}
        </tr>
	</thead>
	<tbody>
        {% for type in types %}
        <tr>
            <td><code>{{ link_first_word("#" ~ url_type(type.ty), type.ty_args) }}</code></a></td>
            <td>{{type.documentation_short|rst_inline}}</td>
            <td>
                 {% if 'examples' in type %}
                 {# {{type.examples|pprint}} #}
                 {% for ex in type.examples %}
                 {# {{ ex | pprint }} #}
                 <code>{{opt_abbr(ex[0])}}</code>
                 {% if not loop.last %},  {% endif %}
                 {% endfor %}
                 {% else %}
                 &mdash;
                 {% endif %}
             </td>
            {% for a in attrs %}
            {{ bool_to_check_cell(type[a[0]]) }}
            {% endfor %}
        </tr>
        {% endfor %}
	</tbody>
</table>
{%- endmacro %}

{% macro opt_abbr(str) %}
{% if str|string|length > 22 %}<abbr title="{{str}}">{{(str|string)[0:22]}}...</abbr>{% else %} {{ str }} {% endif %}
{%- endmacro %}

{% macro pp_protocol(lang_def, proto_hash) %}
{{lang_def.humanize_protocol(proto_hash)}} <tt>({{proto_hash}})</tt>
{%- endmacro %}

{% macro url_protocol(lang_def, proto_hash) %}
https://tzkt.io/{{proto_hash}}
{%- endmacro %}

{% macro link_protocol(lang_def, proto_hash) %}
<a href="{{url_protocol(lang_def, proto_hash)}}">{{pp_protocol(lang_def, proto_hash)}}</a>
{%- endmacro %}

{% macro protocol_information(lang_def, obj) %}
{% if 'since' in obj %}
<dt>Available since mainnet protocol</dt>
<dd>{{ link_protocol(lang_def, obj['since']) }}</dd>
{% endif %}
{% if 'proposed-in' in obj %}
<dt>Proposed in protocol</dt>
<dd>
    {{ link_protocol(lang_def, obj['proposed-in'][0]) }}{% for p in obj['proposed-in'][1:] %},
    {{ link_protocol(lang_def, p) }}
    {% endfor %}
</dd>
{% endif %}
{%- endmacro %}
