{{ macros.linkable_header(3, ('<code>' ~ type.ty_args ~ '</code>')|safe, macros.url_type(type.ty), 'type') }}

<h5>{{type.documentation_short|rst_inline}}</h5>

<dl class="type-details">
    {% if 'documentation' in type %}
    <dt>Description</dt> <dd>{{ type.documentation | rst }}</dd>
    {% endif %}
    {{ macros.protocol_information(lang_def, type) }}
    <dt>Example values</dt>
    <dd>
    {% if type.examples|length %}
    {% for ex in type.examples %}
    <code>{{macros.opt_abbr(ex[0])}}</code>{% if not loop.last %}, {% endif %}
    {% endfor %}
    {% else %}
    There are no literal values of this type.
    {% endif %}
    </dd>
    {% if type.related_ops %}
    <dt>Related instructions</dt>
    <dd>
        <ul class="inline-list type-related-instructions">
            {% for op in type.related_ops %}
            <li><a href="#{{macros.url_instr(op)}}"><code>{{op}}</code></a></li>
            {% endfor %}
        </ul>
    </dd>
    {% endif %}
    <dt>Attributes</dt>
    <dd>
        <table class="attribute-type">
	        <thead>
		        <tr>
                    {% for a in lang_def.get_type_attributes() %}
                    <th><abbr title="{{a[1]}}: {{a[3]}}">{{a[1]}}</abbr></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for a in lang_def.get_type_attributes() %}
                    {{ macros.bool_to_check_cell(type[a[0]]) }}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </dd>
</p>
</dl>

<hr />
